name: Publish to AWS CodeArtifact

on:
  workflow_dispatch:
  release:
    types: [created]

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    name: Publish auth-client-lib to CodeArtifact
    uses: ./.github/workflows/publish-codeartifact.yml
    secrets: inherit
    with:
      domain: hasslefree-dev
      repository: maven
      aws_region: us-east-1

